*::selection {
  background-color: #ED8A00;
}

nav#navigation ul.tabs li a {
  text-align: left;
  color: #FFF;
}

nav#navigation ul.tabs li a:hover {
  color: orange;
}

nav#navigation ul.tabs li.selected {
  color: orange;
}

.PageContent {
  width: 80%;
  height: 100%;
  border: 2px orange solid;
  border-radius: 10px;
  z-index: 1;
  margin-top: 30px;
  position: relative;
  overflow: auto;
  background-color: #000000b5;
}

.BO2wn {
  border-top: 1.5px orange solid;
  border-bottom: 1.5px orange solid;
}

.pageContentH2 {
  color: orange;
}

.PageContent p {
  padding: 0.5em;
  margin: 0;
  color: #FFF;
  font-family: "Calibri";
  font-size: 20px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 3px 6px 5px #000;
}

a.MyIG {
  color: orange;
}

a.RyIG {
  color: orange;
}
