/* latin-ext */
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 100;
  src: local('Cinzel Regular'), local('Cinzel-Regular'), url(https://fonts.gstatic.com/s/cinzel/v7/yIxVuCC1XLz6MNmltehkI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 100;
  src: local('Cinzel Regular'), local('Cinzel-Regular'), url(https://fonts.gstatic.com/s/cinzel/v7/zOdksD_UUTk1LJF9z4tURA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

a {
  text-decoration: none;
}


body {
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightGrey;
  background-size: 100% 100%;
  background-attachment: fixed;
}

img.Background {
  position: fixed;
  z-index: 0;
  size: cover;
  repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
}

#box {
  width: 60%;
  height: auto;
  margin: 3em;
  position: relative;
  z-index: 1;
  background-color: #000000b5;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 2.5px #000;
  text-align: center;
  padding: 0em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

#box:hover {
  box-shadow: 0.5px 0.5px 3px #000;
}

#box h1 {
  font-family: "Cinzel";
  padding-bottom: 5px;
  color: #eaeaea;
  font-style: bold;
}

*::selection {
  background-color: #F24174;
  color: #FFF;
}

#box ul {
  padding-left: 0;
  padding-right: 0;
}

#box li {
  font-family: "Calibri";
  font-weight: bold;
  transition: 0.3s ease;
  color: lightGrey;
  font-size: 1.5em;
  width: 100%;
  list-style: none;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

#box li:hover {
  cursor: pointer;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #000000B3;
}

#boxContent {
  list-style: none;
  padding: 0;
}

.GameLogo {
  width: 3em;
  height: 3em;
}

ul li ul li.description {
  display: none;
  list-style: none;
}

ul li ul li#GTAdescription, ul li ul li#BO2description, ul li ul li#MW3description, ul li ul li#MW2description {
  display: none;
  font-size: 0.6em;
  color: lightGrey;
  font-weight: normal;
  padding-bottom: 0.3em;
  font-style: italic;
  padding-left: 0;
  list-style: none;
  padding-left: 0;
}

ul li ul li#GTAdescription:hover, ul li ul li#BO2description:hover, ul li ul li#MW3description:hover, ul li ul li#MW2description:hover {
  display: none;
  font-size: 0.6em;
  color: lightGrey;
  font-weight: normal;
  padding-bottom: 0.3em;
  font-style: italic;
  list-style: none;
  background-color: #00000000;
}

.Disclaimer {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  background-color: #000000b5;
  width: 60%;
  height: auto;
  box-shadow: 0.5px 0.5px 2.5px #000;
  text-align: center;
  margin: 3em;
  margin-bottom: 0;
  padding: 0em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.Disclaimer h1 {
  margin-bottom: 0px;
  padding-top: 10px;
  font-family: 'Cinzel';
  color: #FFF;
  font-size: 35px;
}

.Disclaimer p {
  font-size: 20px;
  font-family: "Calibri";
  color: #FFF;
  /*color: #2D7EFF;*/
  padding: 10px;
  padding-top: 0px;
  font-style: italic;
}

.PS4Themes {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  background-color: #000000b5;
  width: 60%;
  height: auto;
  box-shadow: 0.5px 0.5px 2.5px #000;
  text-align: center;
  margin: 3em;
  padding: 0em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.PS4Themes h1 {
  margin-bottom: 0px;
  padding-top: 10px;
  font-family: 'Cinzel';
  color: #FFF;
  font-size: 35px;
}

.PS4Themes h3 {
  margin-bottom: 0px;
  padding-top: 10px;
  font-family: 'Cinzel';
  color: #FFF;
}

.PS4Themes p {
  font-size: 20px;
  font-family: "Calibri";
  color: #FFF;
  /*color: #2D7EFF;*/
  padding: 10px;
  font-style: italic;
  transition: 0.2s ease;
}

.PS4Themes p:hover {
  background-color: #000000E6;
}

.imgPreview {
  padding-top: 0.5em;
  width: 6em;
  height: 0;
  transition: 0.2s ease; /*should be 3.375em as the width*/
}

#socialIcons {
  color: #D1D1D1;
  width: 60%;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  //border: 1px #FFF solid;
}

/*.fab {
  padding: 0;
  margin: 0;
  margin-right: 0.75em;
  margin-left: 0.75em;
  font-size: 2.75em;
  //border: 2px #FFF solid;
  cursor: pointer;
  transition: 0.2s ease;
}*/

/* inside the icon tags <i> , put <span class="smText"> username</span> to show text next to the icon (the space makes it look less compact) */
.smText {
  font-size: 0.5em;
}

a.smLinks {
  color: #D1D1D1;
  padding: 0;
  margin: 0;
  margin-right: 0.75em;
  margin-left: 0.75em;
  font-size: 2.75em;
  //border: 2px #FFF solid;
  cursor: pointer;
  transition: 0.2s ease;
}

.fa-instagram:hover {
  color: #517fa4;
}

.fa-youtube:hover {
  color: #ff0000;
}

.fa-twitter:hover {
  color: #0084b4;
}

@media only screen and (max-width: 575px) {
  #box, .Disclaimer, .PS4Themes {
    width: 90%;
    margin: 1em;
  }
  #box h1 {
    font-size: 26px;
  }
  #box li {
    font-size: 1.25em;
  }
  #box ul li ul li {
    font-size: 0.7em;
  }
  #box ul li ul li:hover {
    font-size: 0.7em;
  }
}
