*::selection {
  background-color: #51B9F0;
  color: white;
}

nav#navigation ul.tabs li a {
  text-align: left;
  color: #FFF;
}

nav#navigation ul.tabs li a:hover {
  color: #2D7EFF;
}

nav#navigation ul.tabs li.selected {
  color: #2D7EFF;
}

button.nav2button {
  border: 1.25px #2D7EFF solid;
}

nav.nav2 ul.tabs2 li {
  border: 1px #2D7EFF solid;
}

.PageContent {
  border: 2px #2D7EFF solid;
}
/*
.PageContentH1 {
  margin: 0;
  padding: 0;
}

.PageContentH1home {
  width: 20em;
}

.PageContentH1DL {
  width: 10em;
}*/

.GTA5wn {
  border-top: 1.5px #51B9F0 solid;
  border-bottom: 1.5px #51B9F0 solid;
}

.pageContentH2 {
  color: #51B9F0;
}
