*::selection {
  background-color: #76DE7E;
  color: #FFF;
}

nav#navigation ul.tabs li a {
  text-align: left;
  color: #FFF;
}

nav#navigation ul.tabs li a:hover {
  color: #45FF54;
}

nav#navigation ul.tabs li.selected {
  color: #45FF54;
}

button.nav2button {
  border: 1.25px #45FF54 solid;
}

nav.nav2 ul.tabs2 li {
  border: 1px #45FF54 solid;
}

.PageContent {
  border: 2px #45FF54 solid;
}

.pageContentH2 {
  color: #45FF54;
}

.MW3wn {
  border-top: 1.5px #45FF54 solid;
  border-bottom: 1.5px #45FF54 solid;
}

a.MyIG {
  color: #45FF54;
}

a.RyIG {
  color: #45FF54;
}
