nav#navigation ul.tabs li a {
  text-align: left;
  color: #FFF;
}

nav#navigation ul.tabs li a:hover {
  color: #45FF54;
}

nav#navigation ul.tabs li.selected {
  color: #45FF54;
}

.PageContent {
  width: 80%;
  height: 100%;
  border: 2px #45FF54 solid;
  border-radius: 10px;
  z-index: 1;
  margin-top: 30px;
  position: relative;
  overflow: auto;
  background-color: #000000b5;
}

.PageContent p {
  float: left;
  padding-top: 0px;
  padding: 15px;
  color: #FFF;
  font-family: "Calibri";
  font-size: 20px;
  line-height: 45px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 20px;
  text-shadow: 3px 6px 5px #000;
}

a.MyIG {
  color: #45FF54;
}

a.RyIG {
  color: #45FF54;
}
