*::selection {
  background-color: #56D160;
  color: white;
}


nav#navigation ul.tabs li a {
  text-align: left;
  color: #FFF;
}

nav#navigation ul.tabs li a:hover {
  color: #00DB12;
}

nav#navigation ul.tabs li.selected {
  color: #00DB12;
}

button.nav2button {
  border: 1.25px #00DB12 solid;
}

nav.nav2 ul.tabs2 li {
  border: 1px #00DB12 solid;
}

.PageContent {
  border: 2px #00DB12 solid;
}

.pageContentH2 {
  color: #00DB12;
}

.MW3wn {
  border-top: 1.5px #00DB12 solid;
  border-bottom: 1.5px #00DB12 solid;
}

a.MyIG {
  color: #00DB12;
}

a.RyIG {
  color: #00DB12;
}
